<div class="row container-fluid" style="margin-top: 20px; margin-bottom: 20px">
  <div class="col-lg-1">
  </div>
  <div class="col-lg-3 shadow" style="border-radius: 10px" *ngIf="watches !=null">
          <img [src]="watches.image" style="margin: auto" height="330px" width="auto">
    <p style="margin-top: 60px; font-weight: bold; font-size: 40px; text-align: center; color: #0C6154; font-family: 'Times New Roman'">{{watches.name}}</p>

  </div>
  <div class="col-lg-4" style="margin-left: 20px">
    <div class="row">
      <div class="col-lg-12">
        <span style="color: red; font-weight: bold; font-family: 'Times New Roman'; font-size: 30px">{{watches.price | number}} VNĐ</span><span style="font-size: 20px; font-family: 'Times New Roman'; font-style: italic">|Giá đã bao gồm 10% VAT</span>
      </div>
    </div>
    <div class="row" style="background-color: #0C6154; border-radius: 5px; text-align: center">
      <div class="col-lg-12">
        <i class="icon-freeship-truck"></i>
        <span style="color: white; font-size: 20px; text-align: center">Miễn phí vận chuyển</span>
      </div>
    </div>

    <div class="row" style="margin-top: 15px">
      <div class="col-lg-6">
        <p class="detail">Tên sản phẩm</p>
      </div>
      <div class="col-lg-6">
        <p>: {{watches.name}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p class="detail">Thương hiệu</p>
      </div>
      <div class="col-lg-6">
        <p>: {{watches.producer}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <p class="detail">Loại đồng hồ</p>
      </div>
      <div class="col-lg-6" style="text-align: justify">
        <p>:{{watches.type}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <p class="detail">Chi tiết</p>
      </div>
      <div class="col-lg-6" style="text-align: justify">
        <p>:{{watches.detail}}</p>
      </div>
    </div>



    <div class="row" style="margin-left: 150px; margin-top: 50px">
      <div class="col-lg-12">
        <a style="background-color: crimson; color: white" class="btn" (click)="onAddToCart(watches)">Thêm vào giỏ hàng <i
          class="fa-solid fa-cart-shopping"></i></a>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
  </div>
</div>
