<div class="container-fluid">
<div class="row footer">
  <div class="col-lg-1">
  </div>
  <div class="col-lg-2 column">
    <h3>Danh mục</h3>
    <p>Trang chủ</p>
    <p>Giới thiệu</p>
    <p>Tag sản phẩm</p>
    <p>Tin tức</p>
  </div>
  <div class="col-lg-2 column">
    <h3>Liên hệ</h3>
    <p>Facebook</p>
    <p>Instagram</p>
    <p>Zalo</p>
  </div>
  <div class="col-lg-3 column">
    <h3>Thanh toán miễn phí</h3>
    <img src="/assets/logo 7.png" width="270px" height="auto">
  </div>
  <div class="col-lg-3 column">
    <h3>Hình thức vận chuyển</h3>
    <img src="/assets/logo 8.png" width="270px" height="auto"><br>
    <a href="http://online.gov.vn">
      <img src="/assets/logo 9.png" width="260px" height="auto">
    </a>
  </div>
  <div class="col-lg-1">
  </div>
</div>
<div class="row footer1">
  <div class="col-lg-12" style="text-align: center; font-size: 14px; margin-top: 5px">
    <span>
      &copy;2022. CÔNG TY XÂY DỰNG VÀ CỔ PHẦN HWATCH. MST: 0106713191. (Đăng ký lần đầu: Ngày 15 tháng 12 năm 2019, Đăng ký thay đổi ngày 30/11/2022)
    </span><br>
    <span>
      GP số 426/GP-TTĐT do sở TTTT Hà Nội cấp ngày 22/01/2021
    </span><br>
    <span>
      Địa chỉ: 280 Trần Hưng Đạo, p.An Hải Tây, Q.Sơn Trà, tp.Đà Nẵng. Điện thoại: 1900.2091. Chịu trách nhiệm nội dung: Nguyễn Tấn Huân.
    </span>
  </div>
</div>
</div>


